# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=ada_website
DATABASE_PASSWORD=changeme

# Rails
RAILS_ENV=development
SECRET_KEY_BASE=your_secret_key_base_here

# Production DB password (used in config/database.yml)
ADA_WEBSITE_DATABASE_PASSWORD=changeme
